# Dependencies
**/node_modules

# Environment Variables - VERY IMPORTANT
# This file contains your secret database connection string.
# Never commit this file to GitHub.
.env
/server/.env
/client/.env
/client/.env.local

# Build output
/client/dist
/client/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE / Editor specific
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite specific cache
.vite/